<div>
    <div>
        
      <img class="" src="../../images/banner/banner_italian.jpg" style="width: 100%; height: 500px;  background-position: center;
      background-repeat: no-repeat;
      background-size: cover;">
            
          </div>
            
          <div class="container section grey lighten-5 scrollspy">
            <div class="row" style="">
                <h6 class="center" style="font-size: 50px;">Pizza</h6>
                <div ng-repeat="item in itemsItalianPizzaArr">
                <div class="col s8 offset-s2 m6 l3 " style="padding: 20px;">
                    <div class="card">
                        <div class="card-image">
                            <img ng-src="{{item.item_img}}" height="150" width="100">
                            <!-- <span class="card-title black-text">Card Title</span> -->
                        </div>
                        <div class="card-content">
                            <h6 >{{item.item_name}}</h6>
                        </div>
                        <div class="card-action">
                                
                               
                              Select Quantity :  <select  style="" class="browser-default"  ng-model="item.item_id" ng-options="x.quantity for x in detailsItalianPizza">
                                  
                              </select>
                                <a class="waves-effect waves-light btn valign" style="margin-left: 25px; margin-top: 10px;" ng-click="addToCart(item)">
                                    <i class="material-icons left">add_shopping_cart</i>Add To Cart</a>
                            </div>
                    </div>
                    
                </div>
                </div>      
        </div>
        </div>
        <br><br>

        <div class="container section grey lighten-5 scrollspy">
            <div class="row" style="">
                <h6 class="center" style="font-size: 50px;">Pasta</h6>
                <div ng-repeat="item in itemsItalianPastaArr">
                <div class="col s8 offset-s2 m6 l3 " style="padding: 20px;">
                    <div class="card">
                        <div class="card-image">
                            <img ng-src="{{item.item_img}}" height="150" width="100">
                            <!-- <span class="card-title black-text">Card Title</span> -->
                        </div>
                        <div class="card-content">
                            <h6 >{{item.item_name}}</h6>
                        </div>
                        <div class="card-action">
                                
                               
                              Select Quantity :  <select  style="" class="browser-default"  ng-model="item.item_id" ng-options="x.quantity for x in detailsItalianPasta">
                                  
                              </select>
                                <a class="waves-effect waves-light btn valign" style="margin-left: 25px; margin-top: 10px;" ng-click="addToCart(item)">
                                    <i class="material-icons left">add_shopping_cart</i>Add To Cart</a>
                            </div>
                    </div>
                    
                </div>
                </div>      
        </div>
        </div>
        <br><br>
                
               
        </div>
    <br><br>
    