
<div class="container striped section white" ng-hide="total==0">
  <h6 class="center" style="font-size: 30px;"><i class=" material-icons  center large">shopping_cart</i><br>Cart</h6><br><br> 
<table class="responsive-table">
  <thead>
    <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Item Count</th>
        <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in cartObj">
      <td>{{item.item_name}}</td>
      <td>{{item.item_id.quantity}}</td>
      <td>x {{item.itemCount}}</td>
      <td> {{item.subtotal}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="waves-effect waves-light circle btn-small" style="border-radius: 70%;" ng-click="increaseItemCount(item)"><i class=" material-icons small">add</i> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light circle btn-small" style="border-radius: 70%;"  ng-click="decreaseItemCount(item)"><i class=" material-icons small">remove</i></a></td>
    </tr>
   TOTAL: {{total}}
  </tbody>
</table>
</div>

<div class="container striped section white" ng-show="total==0">
  <h6 class="center" style="font-size: 30px;"><img src="../images/cartempty.png" height="150" width="150"><br>Sorry!<br>Your Cart is Empty!<br>Please Add Some Items From Our Menu.</h6><br><br> 

</div>