<div class="">
    <div class="container">
        <div class="row ">
            <div class="col m7 l6  s12 offset-s2 valign-wrapper ">
                <div class='deviceContainer' style='width: 70%; margin-top: 9%; float: left ; max-width: 400px; max-height: 600px;'>

                    <div class="androidPhone black portrait">
                        <div class="caseBorder"></div>
                        <div class="case"></div>
                        <div class="reflection"></div>
                        <div class="screen"></div>
                        <div class="camera"></div>
                        <div class="speaker"></div>
                        <div class="homeButtonBorder"></div>
                        <div class="homeButton"></div>
                        <div class="content" >
                            <img src="../images/mobileHomeScreen.png" width="100%;">
                            <br> <br>
                            
                        </div>
                    </div>

                </div>

            </div>
            <div class="col m5 l4 offset-l2 offset-m22  offset-s3 s12" style="margin-top: 9%">
                <div >
                    <span class"white-text" style="font-size: 40px;"></span>
                </div>
             
               <div>
                    <img src="../images/homeQR.png" style=" width:40%; max-height:300px;">
                </div>
            </div>



        </div>






    </div>
</div>