<!-- <h1>{{temp.response}}</h1> -->
<!-- when data is being recieved -->


<div  style="margin-top: 100px;" class="row" ng-show= "!datarecieved">
  <div class="col m1 l3 s1 offset-l1"></div> 
  <div class="col  m10  l3 s10" style="margin-left: 4%">    
        <div class="card ">
      
        <div class="card-content center black-text">
          <!-- <span style="font-weight: 600; font-size: 40px;" class="card-title">Hi !</span> <br> -->
          <!-- <img id="profile_image" class="responsive-img  circle " ng-src="/media/{{ User.email.split('@')[0] }}"  /> <br> <br> -->

          <span style=" font-size: 30px; font-weight: 350" class="card-title">Fetching your past orders...</span> <br>
          <span style=" font-size: 30px; font-weight: 350" class="card-title">Please wait...</span> <br>

          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
      
            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
              
          <br><br>  
         
        </div>
      
   
      </div>
    </div>
  </div>
          
<!-- when data is recieved -->
<div class="container striped section white"  style="padding: 50px; margin-top: 50px;" ng-show= "datarecieved">
  <h6 class="center" style="font-size: 30px;"><i class=" material-icons  center large">shopping_cart</i><br>Cart </h6><br><br> 
<table class="responsive-table">
  <thead>
    <tr>
        <th>Item Number</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Item Count</th>
        <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(x,y) in finalpastorders">
      <!-- <div ng-repeat = " items in item"> -->
      <td>{{x+1}}</td>
      <td >{{y.item_name}}</td>
      <td>{{y.item_id.quantity}}</td>
      <td>{{y.itemCount}}</td>
      <td>{{y.subtotal}}</td>
      
      <!-- <td>{{items.item_id.quantity}}</td>
      <td>x {{items.itemCount}}</td>
      <td> {{items.subtotal}}</td> -->
    <!-- </div> -->
    </tr>
   
  </tbody>
 
</table>

          
<!-- <div class="row">
  <div class="col s6">
    <div style="margin: 40px 10px"> -->
      <!-- <div class="waves-effect waves-light green accent-4 btn-small modal-trigger" data-target="modal1" >CheckOut</div> -->
       
      <!-- </div> -->
  <!-- </div> -->
  <div class="col s6">
    <div style="margin: 40px 10px"> TOTAL: {{totalpast}}</div>
  </div>

  <ul class="pagination center" id="paginationTabs">
    <li class="disabled" id="back" ng-click="onPaginationBack()"><a href="" ><i class="material-icons">chevron_left</i></a></li>
    <li class="" ng-repeat = " (key, value)  in temp.response" ><a id="{{key}}" href="" ng-click="onPagination(key)">{{key+1}}</a></li>
    <!-- <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li> -->
    <li class="waves-effect" id="forward" ng-click="onPaginationForward()"><a href=""><i class="material-icons">chevron_right</i></a></li>
  </ul>
  
<!-- </div> -->

<!-- </div> -->

<!-- <div class="container striped section white" ng-show="total==0">
  <h6 class="center" style="font-size: 30px;"><img src="../images/cartempty.png" height="150" width="150"><br>Sorry!<br>Your Cart is Empty!<br>Please Add Some Items From Our Menu.</h6><br><br> 

</div> -->

<!-- <a class="waves-effect waves-light btn modal-trigger" data-target="modal1">Modal</a> -->

  <!-- Modal Structure -->
  <!-- <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a  class="modal-close waves-effect waves-green btn-flat">No</a>
      <a  href="" ng-click="checkOut()" class="modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
  </div> -->