<div class="container" style="margin-top: 30px";>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="../images/cuisines/northIndian/ptm.jpg" width="800" height="400"></a>
        <a class="carousel-item" href="#two!"><img src="../images/cuisines/northIndian/ptm.jpg" width="800" height="400"></a>
        <a class="carousel-item" href="#three!"><img src="../images/cuisines/northIndian/ptm.jpg" width="800" height="400"></a>
        <a class="carousel-item" href="#four!"><img src="../images/cuisines/northIndian/ptm.jpg" width="800" height="400"></a>
      </div>
</div>
<div>sdasdsadasdsa</div>