  <div class="container" style="margin-top: 30px">
  <div class="row valign-wrapper ">
    <div class="col s12 l6 offset-l3 valign">
     <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title" >Signup</span>
          <p>Join millions of our happy and satisfied customers!</p><br>

  
        <div class="row">
    <form class="col s12 ">
      <div class="row">
        <div class="input-field col s6">
           <i class="material-icons prefix">account_box</i>
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">FirstName</label>
        </div>
        <div class="input-field col s6">
           
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="first_name">LastName</label>
        </div>
      </div>
         <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
       <div class="row">
       <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate" data-length="10">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      

     
      <div class="row ">
        <div class="input-field col s12">
          <i class="material-icons prefix">fingerprint</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
    
      <div class="center-align">
      <button class="btn waves-effect waves-light " type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </div>

    </form>
  </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
